@import "./node_modules/bootstrap/less/bootstrap.less";

@bg-col: #262626;
@text-col: #fcf8e3;
@logo-col: #b10000;

body {
  background-color: @bg-col;
  color: @text-col;
  font-family: 'Roboto', sans-serif;
}

